In [229]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine, text
import csv

In [230]:
csv_files = {
    'brands': 'C:\\Users\\c2tlha\\Desktop\\Data Modeling Project\\Dataset\\brands.csv',
    'categories': 'C:\\Users\\c2tlha\\Desktop\\Data Modeling Project\\Dataset\\categories.csv',
    'customers': 'C:\\Users\\c2tlha\\Desktop\\Data Modeling Project\\Dataset\\customers.csv',
    'orders': 'C:\\Users\\c2tlha\\Desktop\\Data Modeling Project\\Dataset\\orders.csv',
    'order_items': 'C:\\Users\\c2tlha\\Desktop\\Data Modeling Project\\Dataset\\order_items.csv',
    'products': 'C:\\Users\\c2tlha\\Desktop\\Data Modeling Project\\Dataset\\products.csv',
    'staffs': 'C:\\Users\\c2tlha\\Desktop\\Data Modeling Project\\Dataset\\staffs.csv',
    'stocks': 'C:\\Users\\c2tlha\\Desktop\\Data Modeling Project\\Dataset\\stocks.csv',
    'stores': 'C:\\Users\\c2tlha\\Desktop\\Data Modeling Project\\Dataset\\stores.csv'
}

In [231]:
'''conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=admin")
conn.set_session(autocommit=True)
cur = conn.cursor()
cur.execute("DROP DATABASE bikes")'''

In [232]:
try:    
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=admin")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    cur.execute("CREATE DATABASE bikes")
except psycopg2.Error as e:
    print(e)

In [233]:

try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=bikes user=postgres password=admin")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
except psycopg2.Error as e:
    print(e)

try:
    cur.execute("""
        CREATE TABLE brands (
            brand_id SERIAL PRIMARY KEY,
            brand_name VARCHAR(255) NOT NULL
        )
    """)

    cur.execute("""
        CREATE TABLE categories (
            category_id SERIAL PRIMARY KEY,
            category_name VARCHAR(255) NOT NULL
        )
    """)

    cur.execute("""
        CREATE TABLE stores (
            store_id SERIAL PRIMARY KEY,
            store_name VARCHAR(255) NOT NULL,
            phone VARCHAR(50),
            email VARCHAR(255),
            street VARCHAR(255),
            city VARCHAR(255),
            state VARCHAR(50),
            zip_code VARCHAR(20)
        )
    """)

    cur.execute("""
        CREATE TABLE staffs (
            staff_id SERIAL PRIMARY KEY,
            first_name VARCHAR(255) NOT NULL,
            last_name VARCHAR(255) NOT NULL,
            email VARCHAR(255) NOT NULL,
            phone VARCHAR(50),
            active INT,
            store_id INT REFERENCES stores(store_id),
            manager_id INT REFERENCES staffs(staff_id)
        )
    """)

    cur.execute("""
        CREATE TABLE customers (
            customer_id SERIAL PRIMARY KEY,
            first_name VARCHAR(255) NOT NULL,
            last_name VARCHAR(255) NOT NULL,
            phone VARCHAR(50),
            email VARCHAR(255) NOT NULL,
            street VARCHAR(255),
            city VARCHAR(255),
            state VARCHAR(50),
            zip_code VARCHAR(20)
        )
    """)

    cur.execute("""
        CREATE TABLE products (
            product_id SERIAL PRIMARY KEY,
            product_name VARCHAR(255) NOT NULL,
            brand_id INT REFERENCES brands(brand_id),
            category_id INT REFERENCES categories(category_id),
            model_year INT,
            list_price REAL
        )
    """)

    cur.execute("""
        CREATE TABLE orders (
            order_id SERIAL PRIMARY KEY,
            customer_id INT REFERENCES customers(customer_id),
            order_status INT,
            order_date DATE,
            required_date DATE,
            shipped_date DATE ,
            store_id INT REFERENCES stores(store_id),
            staff_id INT REFERENCES staffs(staff_id)
        )
    """)

    cur.execute("""
        CREATE TABLE order_items (
            order_id INT,
            item_id INT,
            product_id INT REFERENCES products(product_id),
            quantity INT,
            list_price REAL,
            discount REAL
        )
    """)

    cur.execute("""
        CREATE TABLE stocks (
            store_id INT REFERENCES stores(store_id),
            product_id INT REFERENCES products(product_id),
            quantity INT,
            PRIMARY KEY (store_id, product_id)
        )
    """)

    print("Tables created successfully.")

except psycopg2.Error as e:
    print("Error creating tables:", e)

Tables created successfully.

In [234]:
def import_data_from_csv(table_name, csv_file, cur):
    try:
        df = pd.read_csv(csv_file)
        df_cols = df.columns.tolist()
        cols = ','.join(df_cols)

        for _, row in df.iterrows():
            try:
                cur.execute(
                    f"INSERT INTO {table_name} ({cols}) VALUES ({', '.join(['%s' for _ in df_cols])})",
                    tuple(row)
                )
            except psycopg2.Error as e:
                print(f"Error inserting data into {table_name}: {e}")
    
        print(f"Data imported into {table_name} successfully.")

    except FileNotFoundError:
        print(f"Error: File {csv_file} not found.")
    except Exception as e:
        print(f"Error importing data into {table_name}: {e}")


#droping null rows fomr orders csv file from col shippied_date
df = pd.read_csv(csv_files['orders'])
df = df.dropna(subset=['shipped_date'])
df.to_csv('C:\\Users\\c2tlha\\Desktop\\Data Modeling Project\\Dataset\\orders.csv', index=False)

# Define the order of table imports
import_order = [
    "stores",
    "brands",
    "categories",
    "products",
    "customers",
    "staffs",
    "orders",
    "stocks",
    "order_items"
]

# Import data into each table in the specified order
try:
    for table_name in import_order:
        if table_name in csv_files:
            import_data_from_csv(table_name, csv_files[table_name], cur)

    print("All data imported successfully!")

except psycopg2.Error as e:
    print(f"Error inserting data: {e}")

Data imported into stores successfully.
Data imported into brands successfully.
Data imported into categories successfully.
Data imported into products successfully.
Data imported into customers successfully.
Data imported into staffs successfully.
Data imported into orders successfully.
Data imported into stocks successfully.
Data imported into order_items successfully.
All data imported successfully!

In [102]:
'''try:
    engine = create_engine(f'postgresql://postgres:admin@127.0.0.1/bikes')
except psycopg2.Error as e:
    print(e)'''

In [103]:
'''csv_files = {
    'brands': 'C:\\Users\\c2tlha\\Desktop\\\Data Modeling Project\\Dataset\\brands.csv',
    'categories': 'C:\\Users\\c2tlha\\Desktop\\\Data Modeling Project\\Dataset\\categories.csv',
    'customres': 'C:\\Users\\c2tlha\\Desktop\\\Data Modeling Project\\Dataset\\customers.csv',
    'order_items': 'C:\\Users\\c2tlha\\Desktop\\\Data Modeling Project\\Dataset\\order_items.csv',
    'orders': 'C:\\Users\\c2tlha\\Desktop\\Data Modeling Project\Dataset\\orders.csv',
    'products': 'C:\\Users\\c2tlha\\Desktop\\\Data Modeling Project\\Dataset\\products.csv',
    'staffs': 'C:\\Users\\c2tlha\\Desktop\\\Data Modeling Project\\Dataset\\staffs.csv',
    'stocks': 'C:\\Users\\c2tlha\\Desktop\\\Data Modeling Project\\Dataset\\stocks.csv',
    'stores': 'C:\\Users\\c2tlha\\Desktop\\\Data Modeling Project\\Dataset\\stores.csv'
}

for table_name, file_path in csv_files.items():
    print(f'Contents of {table_name} CSV file:')
    df = pd.read_csv(file_path)
    print(df.head(2))
    print('\n')'''

Contents of brands CSV file:
   brand_id brand_name
0         1    Electra
1         2       Haro


Contents of categories CSV file:
   category_id      category_name
0            1  Children Bicycles
1            2   Comfort Bicycles


Contents of customres CSV file:
   customer_id first_name last_name phone                  email  \
0            1      Debra     Burks   NaN  debra.burks@yahoo.com
1            2      Kasha      Todd   NaN   kasha.todd@yahoo.com

              street          city state  zip_code
0  9273 Thorne Ave.   Orchard Park    NY     14127
1   910 Vine Street       Campbell    CA     95008


Contents of order_items CSV file:
   order_id  item_id  product_id  quantity  list_price  discount
0         1        1          20         1      599.99      0.20
1         1        2           8         2     1799.99      0.07


Contents of orders CSV file:
   order_id  customer_id  order_status  order_date required_date shipped_date  \
0         1          259             4  2016-01-01    2016-01-03   2016-01-03
1         2         1212             4  2016-01-01    2016-01-04   2016-01-03

   store_id  staff_id
0         1         2
1         2         6


Contents of products CSV file:
   product_id                        product_name  brand_id  category_id  \
0           1                     Trek 820 - 2016         9            6
1           2  Ritchey Timberwolf Frameset - 2016         5            6

   model_year  list_price
0        2016      379.99
1        2016      749.99


Contents of staffs CSV file:
   staff_id first_name last_name                       email           phone  \
0         1    Fabiola   Jackson  fabiola.jackson@bikes.shop  (831) 555-5554
1         2     Mireya  Copeland  mireya.copeland@bikes.shop  (831) 555-5555

   active  store_id  manager_id
0       1         1         NaN
1       1         1         1.0


Contents of stocks CSV file:
   store_id  product_id  quantity
0         1           1        27
1         1           2         5


Contents of stores CSV file:
   store_id        store_name           phone                 email  \
0         1  Santa Cruz Bikes  (831) 476-4321  santacruz@bikes.shop
1         2     Baldwin Bikes  (516) 379-8888    baldwin@bikes.shop

               street        city state  zip_code
0  3700 Portola Drive  Santa Cruz    CA     95060
1  4200 Chestnut Lane     Baldwin    NY     11432

In [104]:
'''try:
    engine = create_engine('postgresql://postgres:admin@127.0.0.1/bikes')

    # Iterate through CSV files and load data into PostgreSQL
    for table_name, file_path in csv_files.items():
        df = pd.read_csv(file_path)
        # Drop the table with CASCADE option
        df.to_sql(table_name, engine, if_exists='replace', index=False)

except Exception as e:
    print(e)'''

In [106]:
'''engine.dispose()
conn.close()
cur.close()'''